@charset "utf-8";
#menu{
			background-color: #000;

		}

		#menu ul{
			list-style: none;
			margin: 0;
			padding: 0;
		}

		#menu ul li{
			
			display: inline-block;
		}

		#menu ul li a{
			font-family:"impact";
			color: white;
			display: block;
			padding: 20px 20px;
			text-decoration: none;
		}

		#menu ul li a:hover{
			background-color: #626161;
		}

		.item-r{
			float: right;
		}

	